@model web.Models.Event

@{
    ViewData["Title"] = "Event Details";
}

<h1>@Model.Title</h1>

<div class="card mb-4">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.StartDate)</dt>
            <dd class="col-sm-9">@Model.StartDate.ToString("f")</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EndDate)</dt>
            <dd class="col-sm-9">@Model.EndDate.ToString("f")</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Location)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Location)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Capacity)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Capacity)</dd>

            <dt class="col-sm-3">Registrations</dt>
            <dd class="col-sm-9">@ViewBag.RegistrationCount / @Model.Capacity (@ViewBag.RemainingCapacity spots remaining)</dd>
        </dl>
    </div>
</div>

<div>
    @if (ViewBag.RemainingCapacity > 0)
    {
        <a asp-controller="Registrations" asp-action="Create" asp-route-eventId="@Model.Id"
           class="btn btn-primary">Register</a>
    }
    else
    {
        <span class="btn btn-outline-danger disabled">Event Full</span>
    }
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>
